<span class="field-currency">{{ cart.currency.symbol }}</span>

<div class="field">
  <input
    class="field__input"
    name="{{ filter.min_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-GTE"
    {%- if filter.min_value.value -%}
      value="{{ filter.min_value.value | money_without_currency }}"
    {%- endif -%}
    type="text"
    inputmode="decimal"
    placeholder="0"
    data-pattern="\d| |,|\."
    data-min="0"
    data-max="{{ filter.range_max | money_without_currency }}"

  >a
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-GTE">
    {{- 'products.facets.from' | t -}}
  </label>
</div>

{%- if filter_type != 'vertical' -%}
  <span class="field-currency">{{ cart.currency.symbol }}</span>
{%- endif -%}

<div class="field">
  <input
    class="field__input"
    name="{{ filter.max_value.param_name }}"
    id="{{ id_prefix }}{{ filter.label | escape }}-LTE"
    {%- if filter.max_value.value -%}
      value="{{ filter.max_value.value | money_without_currency }}"
    {%- endif -%}
    type="text"
    inputmode="decimal"
    placeholder="{{ filter.range_max | money_without_currency }}"
    data-pattern="\d| |,|\."
    data-min="0"
    data-max="{{ filter.range_max | money_without_currency }}"
  >
  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-LTE">
    {{- 'products.facets.to' | t -}}
  </label>

  <!-- Slider display -->
  <div class="slider-container">
    <span class="field-currency">{{ cart.currency.symbol }}</span>
    <span class="min-value-output">
      {% if filter.min_value.value %}{{ filter.min_value.value | money_without_currency }}{% else %}0{% endif %}
    </span>

    <div class="range-slider">
      <div class="range-track">
        <div class="range-track-fill"></div>
      </div>
      <input
        type="range"
        class="min-slider"
        min="0"
        max="{{ filter.range_max | money_without_currency }}"
        value="{% if filter.min_value.value %}{{ filter.min_value.value | money_without_currency }}{% else %}0{% endif %}"
      >
      <input
        type="range"
        class="max-slider"
        min="0"
        max="{{ filter.range_max | money_without_currency }}"
        value="{% if filter.max_value.value %}{{ filter.max_value.value | money_without_currency }}{% else %}{{ filter.range_max | money_without_currency }}{% endif %}"
      >
    </div>

    <span class="field-currency">{{ cart.currency.symbol }}</span>
    <span class="max-value-output">
      {% if filter.max_value.value -%}
        {{- filter.max_value.value | money_without_currency -}}
      {%- else -%}
        {{- filter.range_max | money_without_currency -}}
      {%- endif %}
    </span>
  </div>
</div>
