{{ 'image-overwrite.css' | asset_url | stylesheet_tag }}

<style>
  @media screen and (min-width: 990px) {
  #image-overwrite--{{ section.id }} {
    margin-top: calc(-{{ section.settings.height_overwrite }}px);
  }
  }
</style>

<div class="image-overwrite color-{{ section.settings.color_scheme }}" id="image-overwrite--{{ section.id }}">
  {% if section.settings.image != blank %}
    {{
      section.settings.image
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image.width,
        height: section.settings.image.height,
        class: 'image-overwrite--image'
    }}
  {% endif %}
</div>
{% schema %}
{
  "name": "Image Overwrite",
  "settings": [ {
    "type": "image_picker",
    "id": "image",
    "label": "t:sections.image-banner.settings.image.label"
  },{
    "type": "color_scheme",
    "id": "color_scheme",
    "label": "t:sections.all.colors.label",
    "default": "scheme-1"
  },
  {
    "type": "number",
    "id": "height_overwrite",
    "label": "Section height overwrite"
  }
  ],
  "presets": [
    {
      "name": "Image Overwrite"
    }
  ]
}
{% endschema %}
