{{ 'slider-image.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="slider-image section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="banner__heading inline-richtext {{ block.settings.heading_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'text' -%}
              <div
                class="banner__text rte {{ block.settings.text_style }} {% if block.settings.text_style == 'caption-with-letter-spacing' %}caption-with-letter-spacing--large{% endif %}"
                {{ block.shopify_attributes }}
              >
                <p>{{ block.settings.text }}</p>
              </div>
            {%- when 'buttons' -%}
              <div
                class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label_1 != blank -%}
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="slider-image__content">
      <div class="swiper-button-prev"></div>
      <div class="slider-image__wrapper" id="slider-image--{{ section.id }}">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'image' %}
                <div
                  class="swiper-slide slider-image__item"
                  id="slider-image__item--{{ block.id }}"
                >
                  {{ block.settings.image | image_url: width: 300 | image_tag: class: 'slider-image__item-img' }}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
     new Swiper('#slider-image--{{ section.id }}', {
            slidesPerView: 1.5,
            spaceBetween: 20,
                        // Navigation arrows
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
       breakpoints: {
            // when window width is >= 320px
            768: {
              slidesPerView: 3,
              spaceBetween: 20
            },
  }
          });
   })
</script>

{% schema %}
{
  "name": "Slider Image",
  "settings": [
 {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
     {
    "type": "heading",
    "name": "t:sections.image-banner.blocks.heading.name",
    "limit": 1,
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
        "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          },
          {
            "value": "hxl",
            "label": "t:sections.all.heading_size.options__4.label"
          },
          {
            "value": "hxxl",
            "label": "t:sections.all.heading_size.options__5.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      }
    ]
  },
  {
    "type": "text",
    "name": "t:sections.image-banner.blocks.text.name",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "text",
        "default": "t:sections.image-banner.blocks.text.settings.text.default",
        "label": "t:sections.image-banner.blocks.text.settings.text.label"
      },
      {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
          },
          {
            "value": "caption-with-letter-spacing",
            "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
          }
        ],
        "default": "body",
        "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
      },

    ]
  },
  {
    "type": "buttons",
    "name": "t:sections.image-banner.blocks.buttons.name",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "button_label_1",
        "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
      },
      {
        "type": "checkbox",
        "id": "button_style_secondary_1",
        "default": false,
        "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
      },
      {
        "type": "checkbox",
        "id": "button_style_secondary_2",
        "default": false,
        "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
      }
    ]
  },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider Image"
    }
  ]
}
{% endschema %}
